<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <span class="logo">NWS</span>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/saved_articles">Saved Articles</a>
        <a href="/business">Business</a>
        <a href="/entertainment">Entertainment</a>
        <a href="/politics">Politics</a>
        <a href="/health">Health</a>
        <div class="search-container">
          <span class="search-icon">&#128269;</span>
          <form method="post" class="search-bar">
            <input
              type="text"
              name="search_query"
              placeholder="Search for news..."
            />
            <input type="submit" value="Search" />
          </form>
        </div>
        <span class="weather-info">
          {{ weather.city_name }} | {{ weather.temp }}°F
        </span>
      </div>
    </nav>
    <h1>Health</h1>
    <div class="container">
      {% for article in articles %}
      <div class="article">
        <button
          class="bookmark"
          data-title="{{ article.title }}"
          data-summary="{{ article.summary }}"
          data-url="{{ article.url }}"
        >
          &#9733;
        </button>
        <h2 class="title">{{ article.title }}</h2>
        <p class="summary">{{ article.summary }}</p>
        <a class="url" href="{{ article.url }}" target="_blank"
          >Read full article</a
        >
      </div>
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
