<!DOCTYPE html>
<html lang="en">
<head>
    <meta> charset="UTF-8" >
    <title>Login Page</title>
</head>
<body bgcolor="orange">
    <h1>Login</h1>
    <br action="/form_login" method="POST">
        <h2></h2>Username: <br>
        <input type="text" name="username" placeholder="Username" /></body>
        Password: <br>
        <input type="password" name="password" placeholder="Password" /></br>
        <input type="submit" value="Login" />
    </form>
    <h1>{{message}}</h1>
</body>
</html>
