<!DOCTYPE html>
<html lang="en">
<head>
    <meta> charset="UTF-8" >
    <title>Login Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='login.css') }}"
    />
</head>
<body>
    <h1>Login</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="login">Login</a> |
        <a href="register">Register</a>
    </nav>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <br action="/login" method="POST">
        <h2></h2>Username: <br>
        <input type="text" name="username" placeholder="Username" /></body>
        Password: <br>
        <input type="password" name="password" placeholder="Password" /></br>
        <input type="submit" class='btn' value="Login" />
    </form>
    <h1>{{message}}</h1>
</body>
</html>
