<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    /> -->
    <!-- <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='login.css') }}"
    />
</head>
<body>
    <h1>Register</h1>
    <div class="container">
        <nav>
            <a href="/">Home</a> |
            <a href="register">Register</a>
        </nav>
        <div class="row" style="margin-top: 40px">    
                <form method="POST" action="/register">
                    {% if message %}
                    <div class="message">{{ message }}</div>
                    {% endif %}
                    {% if error %}
                    <div class="error">{{ error }}</div>
                    {% endif %}
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                    <button type="submit" class="btn form-control btn-default">Register</button>
                </form>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
        </div>
    </div>
</body>
